body {
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
  border: 5px solid;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
}
