body {
	text-align: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -6px;
}

.grid {
	width: 405px;
	height: 205px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.square {
	height: 100px;
	width: 100px;
	border: solid black 1px;
}

.mole {
	background-image: url("mole.jpg");
	background-size: cover;
}
